.main-body {
  padding-top: 64px;
  padding-bottom: 45px;
}

.footer {
  background-color: #f1f1f1;
  /* margin-top: auto; */
  bottom: 0;
  height: 45px;
  position: fixed;
}

.logo {
  height: 25px;
  width: 25px;
  margin: 10px;
}

.link  {
  margin: 10px;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}